.l-article {
  margin-bottom: $baseline-unit*4;
}

.l-article-intro {
  padding-bottom: $baseline-unit*3;
}

@include respond-to(0, $mq-m) {
  .l-article,
  .l-nav {
    @include column(12);
  }

  .l-related-links-mid {
    display:none;
  }
}

@include respond-to($mq-m) {
  .l-article {
    @include column(9);
    float:right;
  }

  .l-nav {
    @include column(3);
    float:left;
    margin-top:3em;

    .nav__back-to-top {
      display:none;
    }
  }

  .l-related-links-mid {
    @include column(6);
    float:right;
  }
}

@include respond-to($mq-l) {
  .l-article {
    @include column(7);
    @include pull(2);
    float:right;
  }

  .l-related-links-mid {
    @include column(4);
    float:right;
    margin-right:-20%;
  }
}
