.l-category-nav {
  @include respond-to($mq-l) {
    @include column(3);
    margin-top: $baseline-unit*10;

    & .link-list-primary__link--back-to-top {
      display: none;
    }
  }
}

.l-article {
  margin-bottom: $baseline-unit*4;

  @include respond-to($mq-l) {
    @include column(7);
    float: right;
    @include pull(2);
    margin-bottom: $baseline-unit*4;
  }
}

.l-related-links {
  display: none;

  @include respond-to($mq-l) {
    @include column(5);
    float: right;
    margin-right: -180px;
    margin-left: 30px;
  }
}
