<div class="nav" id="primary-nav">
  <a class="nav__back-to-top" href="#">Back to top</a>
  <ul class="nav__list">
    <li class="nav__item"><a href="#insert">Debt and borrowing</a></li>
    <li class="nav__item"><a href="#insert">Budgeting and managing money</a></li>
    <li class="nav__item"><a href="#insert">Saving and Investing</a></li>
    <li class="nav__item"><a href="#insert">Work, pensions and retirement</a></li>
    <li class="nav__item"><a href="#insert">Benefits</a></li>
    <li class="nav__item"><a href="#insert">Births, deaths and family</a></li>
    <li class="nav__item"><a href="#insert">Insurance</a>
      <ul class="nav__sub-list unstyled-list">
        <li><a href="#insert">Help with insurance</a></li>
        <li class="is-selected"><a href="#insert">Home insurance</a></li>
        <li><a href="#insert">Life and protection insurance</a></li>
        <li><a href="#insert">Car insurance</a></li>
        <li><a href="#insert">Travel insurance</a></li>
        <li><a href="#insert">Pet insurance</a></li>
      </ul>
    </li>
    <li class="nav__item"><a href="#insert">Home and mortgages</a></li>
    <li class="nav__item"><a href="#insert">Care and disability</a></li>
    <li class="nav__item"><a href="#insert">Cars and travel</a></li>
  </ul>
</div>
