// Promo section of the home page
//
// Styleguide Promo

.promo img {
  width: 100%;
  margin-bottom: $baseline-unit*2;
}

.promo__heading {
  @extend %font-heading-medium;
  @include body(22, 30);
  display: block;
  margin-top: 0;

  &:hover {
    text-decoration: underline;
  }

  .theme-cy & {
    @include respond-to($mq-m) {
      @include body(18, 24);
    }
  }
}

.promo__heading-text {
  margin-bottom: $baseline-unit;
}

.promo__content,
.promo__heading-text {
  @include column(12);
}
