// Trust banner displayed on the home page
//
// Styleguide Trust banner

.trust-banner {
  @include respond-to($mq-l) {
    background: image_url('illustrated_people.png') 50% 100% no-repeat;
    background-position: 100% 100%;
    background-size: 40%;
  }
}

.trust-banner__heading {
  @include body(30, 36);
  @extend %font-heading-heavy;
  color: $color-heading-extra-small;
  margin-top: 1em;
  margin-bottom: 0.75em;

  @include respond-to($mq-l) {
    @include body(42, 46);
    width: 60%;
  }
}

.trust-banner__content {
  margin-bottom: 2.6em;
}

.trust-banner__item {
  margin-bottom: $baseline-unit;
}
