<div class="campaign-trust-banner">
  <div class="l-constrained">
    <div class="l-campaign-trust-banner">
      <p class="l-campaign-trust-banner__left campaign-trust-banner__content"><%= t('home.show.strapline') %></p>
      <div class="l-campaign-trust-banner__right">
        <%= render '../assets/images/svg/logo.svg' %>
      </div>
    </div>
  </div>
</div>
