<div class="l-constrained">
  <div class="trust-banner l-trust-banner">
    <p class="trust-banner__heading"><%= t('home.show.heading') %></p>
    <ul class="trust-banner__content list-benefits">
      <li class="trust-banner__item">Advice articles to help you improve your finances</li>
      <li class="trust-banner__item">Tools and calculators to help you keep track and plan for the future</li>
      <li class="trust-banner__item">Support in person, over the phone or via the internet</li>
    </ul>
  </div>
</div>
