.campaign-trust-banner {
  overflow: hidden;
  background-color: $breadcrumbs-background-color;
}

.campaign-trust-banner__logo {


}

.campaign-trust-banner__content {
  @extend %font-heading-heavy;
  @include body(14, 18);
  color: $color-heading-extra-small;
  padding-top: 1.5em;
  padding-bottom: 1.5em;

  @include respond-to($mq-s) {
    @include body(18, 22);
  }

  @include respond-to($mq-m) {
    @include body(24, 28);
  }

  @include respond-to($mq-l) {
    @include body(28, 32);
  }
}
