// Directory navigation component found on the homepage
//
// Styleguide Directory

.directory {
  @extend .clearfix;
  width:100%;
  background-color: $color-directory-emphasized-bg;

  .flexbox & {
    /* @lintingIgnoreBegin */
    display: flex;
    flex-flow: column;

    @include respond-to($mq-m) {
      flex-flow: row;
      flex-wrap: wrap;
    }
    /* @lintingIgnoreEnd */
  }

}

.directory__item {
  @include column(12);
  border-top: 1px solid $color-white;

  @include respond-to($mq-m) {
    @include column(6);
    border-top: 0;
    min-height: 133px;
  }

  @include respond-to($mq-l) {
    @include column(4);
    min-height: 180px;
    margin-bottom: $baseline-unit*4;
  }

  @include respond-to($mq-xl) {
    min-height: 128px;
  }

  .icon {
    float: left;
    margin-right: $baseline-unit*2;
    margin-top: 13px;

    @include respond-to($mq-xs, $mq-l) {
      background-size: $sprite-background-size;
    }

    @include respond-to($mq-l) {
      margin-top: 15px;
      margin-bottom: 20px;
    }
  }
}

.directory__link {
  &:link,
  &:visited {
    color: $color-heading-extra-small;
  }
}

.flexbox .directory__item {
  margin-right: 1.666667%;
  margin-left: 1.666667%;
  margin-bottom: $baseline-unit*2;
  min-height: 0;

  /* @lintingIgnoreBegin */
  @include respond-to($mq-m) {
    margin-bottom: $baseline-unit*3;
    flex-basis: 46%;
  }

  @include respond-to($mq-l) {;
    flex-basis: 30%;
  }
  /* @lintingIgnoreEnd */
}

.directory__title {
  @extend %font-heading-medium;
  @include body(16, 24);
  margin-top: $baseline-unit*3;
  margin-bottom: $baseline-unit;

  @include respond-to($mq-m) {
    margin-bottom: $baseline-unit*2;
  }

  .theme-cy & {
    @include respond-to($mq-m) {
      @include body(18, 24);
    }
  }
}

.directory__description {
  display: none;
  @include body(16, 24);

  @include respond-to($mq-l) {
    display: block;
  }
}
